.cart-list-item {
  background-color: #140c1c;
  border-color: #1e1e30;
  transition: scale 0.15s ease;
}

.cart-list-item.cart-item:hover {
  scale: 1.05;
}

.paddingpage {
  padding: 0 2rem 2rem;
}
