* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .navbar {
  background: #2b3035;
  background: linear-gradient(180deg, rgba(43, 48, 53, 1) 0%, rgba(10, 10, 15, 1) 100%);
}

.avatar {
  width: 80px;
  aspect-ratio: 1;
}

.game-card img {
  aspect-ratio: 9/13;
}
